body{
    margin: auto;
}
a{
    text-decoration: none;
    color: white;
}
.socials{
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
p{
    width: 300px;
    border-radius: 30px;
    background-color: #0074DE;
    text-align: center;
    padding: 10px 13px;
    margin: 10px;
}